.container {
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0% 5%;
}

header {
  position: relative;
}

.hide {
  display: none;
}

.tab-content {
  padding: 25px;
}

.profile {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 30px 5%;
}

#material-tabs {
  position: relative;
  display: block;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
}

#material-tabs > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 22px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #424f5a;
  text-align: center;
  outline: ;
}

#material-tabs > a.active {
  font-weight: 700;
  outline: none;
}

#material-tabs > a:not(.active):hover {
  background-color: inherit;
  color: #7c848a;
}

@media only screen and (max-width: 520px) {
  .nav-tabs#material-tabs > li > a {
    font-size: 11px;
  }
}
