@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: "Roboto";
}

.appbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.link-right {
  display: flex;
  justify-content: flex-end;
}

.toolbar {
  width: 100%;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.signinsignout {
  border: transparent;
  color: green;
  font-size: 1rem;
}

.background {
  margin-top: 60px;
}
